*{
    margin: 0;
}
header{
    height: 20rem;
    background-color: rgb(200, 245, 200);
    display: flex;
    justify-content: center;
}
.img-name{
    width: 45%;
    align-content: center;
}
.presentation{
    width: 50%;
}
.img-Ana{
    height: 10rem;
    width: 9.5rem;
    padding: 1rem;
    border-radius: 2rem;
}
h1{
    font-size: 1.1rem;
    margin-left: 1rem;
}
.title-presentation{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.text-presentation{
    margin: 2%;
    display: flex;
    text-align: center;
}
.icon-sena{
    width: 2.5rem;
    background-color: rgb(200, 245, 200);
    border-radius: 50%;
    margin-top: 2rem;
}
.title-projects{
    margin-top: 2.5rem;
}
.projects{
    display: flex;
    margin-left: 10%;
}
hr{
    margin-top: 1rem;
    width: 80%;
    height: 6px;
    background-color: rgb(2, 163, 2);
    margin-left: 10%;
}
.cards-projects{
    margin: 10%;
    background-color: rgb(2, 163, 2);
    height: 8rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
.space-img{
    width: 40%;
    align-content: center;
}
.icon-project{
    width: 5rem;
    height: 5rem;
}
.text-project{
    width: 40%;
    text-align: center;
    align-content: center;
}
a{
    color: black;
    text-decoration: none;
}
.title-reference{
    margin-top: 2.5rem;
}
.references{
    display: flex;
}
.cards-references{
    margin: 12%;
    border: groove;
    border-color: black;
    width: 9rem;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 245, 200);
}
.first-part{
    width: 50%;
}
.second-part{
    width: 50%;
}
.experiences{
    margin: 10%;
    display: flex;
    justify-content: space-around;
}
.icons{
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
}
.progress-container {
    width: 90%;
    background-color: rgb(200, 245, 200);;
    border-radius: 25px;
}
.progress-bar {
    height: 15px;
    background-color: rgb(2, 163, 2);
    border-radius: 25px;
}
h5{
    text-align: center;
}
@media screen and (min-width: 393px) and (max-width: 480px) {
    .info{
        display: none;
    }
}
@media screen and (min-width: 430px) and (max-width: 480px) {
    header{
        height: 18rem;
    }
    .first-part{
        margin-right: -3rem;
        margin-left: 2rem;
    }
    .info{
        display: none;
    }
}
@media screen and (min-width: 820px) and (max-width: 1558px) {
    .info{
        display: none;
    }
    header{
    height: 14rem;
   }
   .img-name{
    width: 30%;
    }
    .img-Ana{
    width: 9rem;
    height: 9.5rem;
   }
   .presentation{
    width: 50%;
    }
    .title-presentation{
        margin-top: 8%;
        font-size: 1.5rem;
    }
    .duo-projects{
        display: flex;
    }
    .duo-project1{
        width: 50%;
    }
    .duo-project2{
        width: 50%;
    }
    .cards-references{
        width: 12rem;
        height: 10rem;
    }
    .first-part{
        margin-right: -5rem;
        margin-left: 6rem;
    }
    .icons{
        height: 5.5rem;
        width: 5.5rem;
    }
}
@media screen and (min-width: 1559px) and (max-width: 2000px) {
    header{
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    h1{
        font-size: 2rem;
        text-align: center;
    }
    .presentation{
        width: 100%;
    }
    .title-presentation{
        font-size: 2rem;
        text-align: center;
    }
    .text-presentation{
        font-size: 1.4rem;
        text-align: center;
    }
    .img-name{
        margin-top: -60%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .img-Ana{
        width: 15rem;
        height: 15.5rem;
        margin-left: 30%;
    }
    .duo-projects{
        display: flex;
    }
    .duo-project1{
        width: 50%;
    }
    .duo-project2{
        width: 50%;
    }
    .parts{
        display: flex;
    }
    .part-1{
        width: 40%;
    }
    .part-2{
        width: 60%;
    }
    .cards-references{
        width: 12rem;
        height: 10rem;
    }
    .first-part{
        margin-right: -5rem;
        margin-left: 6rem;
    }
    .contact{
        font-size: 1.4rem;
    }
    .icons{
        width: 7rem;
        height: 7rem;
    }
}
